.feedback-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    background: linear-gradient(rgba(124, 82, 4, 0.8),rgb(247, 244, 244,0.4),rgba(71, 0, 12, 0.4));
}
.heading-feedback{
  background-color: rgb(71, 117, 71,0.3);
  padding: 0 1.5rem;
  border-radius: 11px;
  position: relative;
  bottom: 29px;
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.container-feedback {
 background-color: #efc2f8;
 position: relative;
 display: grid;
 grid-template-columns: 300px 600px;
 border-radius: 5px;
 box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
}
 .img-feedback{
  margin: 1rem;
  width: 300px;
  height: 300px;
  border-radius: 5px 0 0 5px;
 }
 .btn1 {
  position: absolute;
  bottom: -20px;
  right: -20px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: #fc9400;
  color: #fff;
  padding: 22px 45px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
 }

 i{
   margin-left: 20px;
   font-size: 1.5rem;
  }
 

.container__text {
 padding: 40px 40px 0;
}
h1 {
  color: black;
  font-weight: 400;
 }
 .container__text__star span {
  font-size: 0.8rem;
  color: #ffa800;
  margin: -5px 0 20px;
 }
 .para-feedback{
  font-size: 0.9rem;
 }
 .container__text__timing {
  display: flex;
  margin: 20px 0 10px;
 }
  .container__text__timing_time {
   margin-right: 40px;
  }
  .text-feedback{
   margin-bottom: 5px;
   font-size: 1rem;
   font-weight: 400;
   color: #818189;
  }
  .para-feedback {
   color: black;
   font-weight: bold;
   font-size: 1.2rem;
  }
 